.sliderContainer {
	position: relative;
	width: 550px;
	overflow: hidden;
	margin: 0 auto;
	background-color: #145759;
}

h2 {
	margin: 20px 25px;
	color: white;
}

.dots {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px 0;
}

.dot {
	height: 10px;
	width: 10px;
	background-color: white;
	display: inline-block;
	margin: 0 5px;
}

.activeDot {
	background-color: #23acb0;
}

.btn-prev {
	position: absolute;
	top: 210px;
}

.btn-next {
	position: absolute;
	left: 523px;
	top: 210px;
}

.img {
	box-sizing: border-box;
	width: 377px;
	margin-top: 10px;
}

.img-container {
	display: flex;
	justify-content: center;
}

.slider {
	display: flex;
	transition: transform 0.8s ease-in-out;
}

.slide {
	min-width: 100%;
	box-sizing: border-box;
}

.pausestart {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 10px;
	width: 20%;
	margin: 0 auto;
}
